/*====================================================
    DEFAULT VALUES:

    Font Family     : Roboto Condensed
    
    Greenish Blue   : #34c6d3    (Buttons, Icons, Links, Lines & Backgrounds)
    Steel Gray      : #41464b    (Headings)
    Blue Bayoux     : #64707b    (Paragraphs)
    White           : #fff       (Text With Black Backgrounds)
    Black           : #000 

======================================================*/

$firstColor : #34c6d3;

$headingColor : #41464b;

$paragraphs : #64707b;
